body {
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
}

.content {
    margin-left: 180px; /* Adjust based on sidebar width */
    padding: 20px;
    flex: 1;
    background-color: #f0f2f5;
}

.coupon-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 15px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #00416a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003255;
}

.add-rule-btn {
    flex: 0 0 50px;
    align-self: flex-end;
    height: 40px;
    background-color: #28a745;
    margin-bottom:4px;
}

.add-rule-btn:hover {
    background-color: #218838;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.submit-btn {
    align-self: flex-start;
    margin-top: 10px;
    background-color: #6f42c1;
    margin-right:850px;
}

.submit-btn:hover {
    background-color: #5a34a1;
}
